*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #dedede;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: 400px 200px;
    grid-template-rows: 620px;
}

.calculatorGrid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculatorGrid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 3px solid black;
    outline: none;
    background-color: #00007d;
}

.calculatorGrid > button:hover {
    background-color: #000F9F;
}

.spanTwo {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 130px;
}

.button {
    color: white;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.output .history {
    color: white;
    font-size: 2.5rem;
}

.history {
    grid-row: span 5;
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}